/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

body {
  text-align: left;
  background-color: lavenderblush;
  font-family: 'Lora', serif;
  padding: 5px 25px;
  font-size: 20px;
  margin: 0;
  color: chocolate;
}

h1 {
  text-align: center;
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  font-size: 40px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  color: mediumblue;
  line-height: 26.4px;
}

h2 {
  text-align: center;
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  font-size: 30px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  color: mediumblue;
  line-height: 26.4px;
}

h3 {
  text-align: center
}
